<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!-- 共7个测试用例 -->
<suite name="linear-test" verbose="1">
    <listeners>
        <listener class-name="com.example.lineartest.utils.TestListener"/>
    </listeners>

    <test name="linear-test">
        <classes>
            <class name="com.example.lineartest.testcases.AddPlanTest" />
            <class name="com.example.lineartest.testcases.ChatTest" />
            <class name="com.example.lineartest.testcases.FavoriteTest" />
            <class name="com.example.lineartest.testcases.LoginTest" />
            <class name="com.example.lineartest.testcases.LogoutTest" />
            <class name="com.example.lineartest.testcases.StartClassTest" />
        </classes>
    </test>

</suite>