<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!-- 共13个测试用例 -->
<suite name="solar-test" verbose="1">
    <listeners>
        <listener class-name="com.example.solartest.utils.TestListener"/>
    </listeners>

    <test name="solar-test">
        <classes>
            <class name="com.example.solartest.test.ChangeUserTest" />
            <class name="com.example.solartest.test.DeleteTaskTest" />
            <class name="com.example.solartest.test.EditTaskTest" />
            <class name="com.example.solartest.test.FogetPasswordTest" />
            <class name="com.example.solartest.test.LoginTest" />
            <class name="com.example.solartest.test.NewTaskTest" />
            <class name="com.example.solartest.test.RegisterTest" />
            <class name="com.example.solartest.test.SettingsTest" />
            <class name="com.example.solartest.test.StartTaskTest" />
        </classes>
    </test>


</suite>